#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config INSPACE_TESTS
	tristate "Test cases"
	select TESTING_UNITY
	select TESTING_UNITY_EXCLUDE_SETJMP
	depends on INSPACE_TELEMETRY
	default n
	---help---
		Build test cases

if INSPACE_TESTS

config INSPACE_TESTS_PROGNAME
	string "Program name"
	default "inspace_tests"
	---help---
		Name of the test executable

endif
