#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config INSPACE_TELEMETRY
    tristate "InSpace Telemetry System"
    default n
    select SENSORS
    select USENSOR
    select UORB
    ---help---
        Enable the Carleton University InSpace telemetry system code.

if INSPACE_TELEMETRY

config INSPACE_TELEMETRY_PROGNAME
    string "Program name"
    default "inspace_telem"
    ---help---
        This is the name of the program that will be used for the
        telemetry system application.

config INSPACE_TELEMETRY_PRIORITY
    int "Telemetry system task priority"
    default 100

config INSPACE_TELEMETRY_STACKSIZE
    int "Telemetry system stack size"
    default DEFAULT_TASK_STACKSIZE

comment "Syslog output options"

config INSPACE_SYSLOG_OUTPUT
	bool "Enable syslog output"
	depends on SYSLOG
	default n
	---help---
		Enables options for syslog outputs.

if INSPACE_SYSLOG_OUTPUT

config INSPACE_SYSLOG_DEBUG
	bool "Debug logs enabled"
	default n
	---help---
		Enables granular debug logs.

config INSPACE_SYSLOG_INFO
	bool "Information logs enabled"
	depends on DEBUG_INFO
	default n
	---help---
		Enables informational logs.

config INSPACE_SYSLOG_WARN
	bool "Warning logs enabled"
	depends on DEBUG_WARN
	default n
	---help---
		Enables warning logs.

config INSPACE_SYSLOG_ERR
	bool "Error logs enabled"
	depends on DEBUG_ERROR
	default n
	---help---
		Enables error logs.

endif # INSPACE_SYSLOG_OUTPUT

config INSPACE_TELEMETRY_RATE
    int "Measurement/logging rate in Hz"
    default 10
    range 0 100

config INSPACE_TELEMETRY_STARTBUFFER
    int "Start buffering in seconds"
    default 20
    ---help---
        When the telemetry system starts, a rolling buffer of the last `n`
        seconds is kept up to date. This ensures that lift-off detection latency
        does not cause data loss about the initial lift-off.

config INSPACE_TELEMETRY_CALLSIGN
    string "HAM radio call sign"
    ---help---
        In order to transmit radio messages legally, an amateur radio call sign
        is required. This is used in the packet format transmitted by the
        telemetry system.

config INSPACE_TELEMETRY_FLIGHT_FS
    string "Flight logging filesystem"
    default "/flight/"
    ---help---
        The path identifier of the filesystem to log data to during flight.
        Should be a power-failure safe filesystem.

config INSPACE_TELEMETRY_LANDED_FS
    string "Landing logging filesystem"
    default "/landed/"
    ---help---
        The path identifier of the filesystem to log data to after landing.
        Should be a FAT file system or something easily accessed from a host
        computer.

config INSPACE_TELEMETRY_RADIO
    string "Radio device"
    default "/dev/rn2483"
    ---help---
        The path identifier of the radio device for transmitting.

config INSPACE_TELEMETRY_EEPROM
    string "Eeprom device"
    default "/dev/eeprom"
    ---help---
        The path identifier of the eeprom device for storing settings.

endif # INSPACE_TELEMETRY
