#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config INSPACE_MOCK
	tristate "Sensor Mocking"
	depends on BOARDCTL_ROMDISK
	default n
	---help---
		Enable mocking of sensors using test data

if INSPACE_MOCK

config INSPACE_MOCK_PROGNAME
	string "Program name"
	default "inspace_mock"
	---help---
		This is the name of the program that sets up sensor mocking

config INSPACE_MOCK_PRIORITY
	int "Mocking setup task priority"
	default 100

config INSPACE_MOCK_STACKSIZE
	int "Mocking setup stack size"
	default DEFAULT_TASK_STACKSIZE

config INSPACE_MOCK_MOUNT
	string "ROMFS mount point"
	default "/data"
	---help---
		Where to mount the ROMFS containing the files in the test-data directory

endif
