# TODO: add all the "dependency" requirements for device drivers

config INSPACE_MOCKING
    tristate "InSpace Sensor Mocking"
    default n
    ---help---
        Create and mount a romfs with test sensor data, and use the
        fakesensor driver to mock real sensor data

if INSPACE_MOCKING

config INSPACE_MOCKING_PROGRNAME
    string "Program name"
    default "inspace_mount"
    ---help---
		This is the name of the program that will be used when the
		program is installed.

config INSPACE_TELEMETRY_PRIORITY
    int "Telemetry system task priority"
    default 100

config INSPACE_TELEMETRY_STACKSIZE
    int "Telemetry system stack size"
    default DEFAULT_TASK_STACKSIZE
