#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config INSPACE_MOCKING
	tristate "Sensor Mocking"
	default n
	---help---
		Enable mocking of sensors using test data

if INSPACE_MOCKING

config INSPACE_MOCKING_PROGNAME
	string "Program name"
	default "inspace_mock"
	---help---
		This is the name of the program that sets up sensor mocking

config INSPACE_MOCKING_PRIORITY
	int "Mocking setup task priority"
	default 100

config INSPACE_MOCKING_STACKSIZE
	int "Mocking setup stack size"
	default DEFAULT_TASK_STACKSIZE

endif
